nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 50px;
  max-height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 30px;
  -webkit-box-shadow: 0 0 30px -10px black;
          box-shadow: 0 0 30px -10px black;
  z-index: 999;
}

nav .btnMode {
  background-color: #20b764;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  border: none;
}

nav .img-avatar {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .userArea .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(95, 158, 160, 0.589);
}

nav .profile-open {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  position: absolute;
  top: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 50px -30px black;
          box-shadow: 0 0 50px -30px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .profile-open a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .profile-open a .permissionTag {
  background-color: rgba(120, 120, 120, 0.365);
  font-size: 13px;
  border-radius: 5px;
  padding: 3px 8px;
}

nav .profile-open ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

nav .profile-open ul a {
  background-color: #e9e4ff00;
  width: inherit;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  font-size: .7em;
}

nav .profile-open ul .logoutBtn {
  background-color: #b717177e;
  display: block;
  text-align: center;
}

nav .profile-open ul .logoutBtn:hover {
  background-color: #b71717c9;
}

nav .profile-open ul a:hover {
  background-color: #e9e4ff86;
}

nav .navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 8px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  background-color: rgba(154, 154, 154, 0.288);
  border-radius: 8px;
  text-decoration: none;
  padding: 2px 8px;
}
/*# sourceMappingURL=AppBar.css.map */