nav {
    height: fit-content;
    height: 50px;
    max-height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #d7deff6f;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 0 30px -10px black;
    z-index: 999;


    .btnMode {
        background-color: #afb7d8;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border: none;
    }

    .img-avatar {
        width: inherit;
        height: inherit;
        object-fit: cover;

    }

    .userArea {
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(95, 158, 160, 0.589);
        }

    }

    .profile-open {
        width: 300px;
        height: fit-content;
        padding: 20px;
        position: absolute;
        top: 8px;
        border-radius: 20px;
        box-shadow: 0 0 50px -30px black;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        transition: 1s;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;


            .permissionTag {
                background-color: rgba(120, 120, 120, 0.365);
                font-size: 13px;
                border-radius: 5px;
                padding: 3px 8px;
            }
        }


        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                background-color: #e9e4ff00;
                width: inherit;
                border-radius: 5px;
                padding: 5px 15px;
                cursor: pointer;
                text-decoration: none;
                color: inherit;
                transition: .2s ease-in;
                display: flex;
                flex-direction: row;
                gap: 10px;
                font-size: .7em;
            }

            .logoutBtn {
                background-color: #b717177e;
                display: block;
                text-align: center;

            }

            .logoutBtn:hover {
                background-color: #b71717c9;
            }

            a:hover {
                background-color: #e9e4ff86;
            }

        }


    }



    .navigator {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 8px;

        li {
            display: inline;

            a {
                background-color: rgba(154, 154, 154, 0.288);
                border-radius: 8px;
                text-decoration: none;
                padding: 2px 8px;
            }
        }
    }

}