.clientList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    table {
        // width: 80%;
        border-collapse: separate;
        border-spacing: 0px 15px;

        thead {

            th {
                font-weight: 100;
                font-size: 14px;
            }
        }

        tbody {

            tr {
                background-color: rgba(103, 103, 103, 0.414);
                border-radius: 10px;
                font-size: .8em;
                padding: 40px;


                $borderRadius: 12px; //variable

                td:first-child {
                    border-top-right-radius: $borderRadius;
                    border-bottom-right-radius: $borderRadius;
                    text-align: right;
                    padding: 10px;
                    // max-width: 20px;
                }

                td:last-child {
                    border-top-left-radius: $borderRadius;
                    border-bottom-left-radius: $borderRadius;
                }

                td {
                    text-align: right;
                    padding: 10px 40px;
                    font-size: 14px;

                    img {
                        height: 50px;
                        width: 50px;
                        object-position: center;
                        object-fit: cover;
                        border-radius: 50%;
                        font-size: 14px;
                    }

                    .business {
                        background-color: green;
                        padding: 2px 10px;
                        border-radius: 5px;
                    }

                    .regular {
                        background-color: silver;
                        color: black;
                        padding: 2px 10px;
                        border-radius: 5px;

                    }

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                    }
                }

            }
        }
    }
}