.Cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Cards .addCardBtn {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.Cards .addCardBtn:hover {
  background-color: var(--level2);
  cursor: pointer;
}

.Cards a {
  text-decoration: none;
}

.Cards .cardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  gap: 15px;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.addCard,
.editCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100%;
}

.addCard .display,
.editCard .display {
  background-image: radial-gradient(#7c7c7c4d 1.8px, #ffffff00 1.8px);
  background-size: 36px 36px;
  height: inherit;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  border-right: solid 1px #999999;
}

.addCard .form,
.editCard .form {
  width: 70%;
}

.addCard .form h2,
.editCard .form h2 {
  display: block;
}

.addCard .form form,
.editCard .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px;
}

.addCard .form form label,
.editCard .form form label {
  font-size: 14px;
  padding: 0 5px;
  margin-top: 10px;
}

.addCard .form form svg.iconError,
.editCard .form form svg.iconError {
  position: relative;
  color: yellow;
  font-size: 15px;
}

.addCard .form form input,
.addCard .form form textarea,
.editCard .form form input,
.editCard .form form textarea {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  line-height: 5ex;
  padding: 0 10px;
  width: 100%;
  resize: none;
}

.addCard .form form input ::-webkit-input-placeholder,
.addCard .form form textarea ::-webkit-input-placeholder,
.editCard .form form input ::-webkit-input-placeholder,
.editCard .form form textarea ::-webkit-input-placeholder {
  color: #78787880;
}

.addCard .form form input :-ms-input-placeholder,
.addCard .form form textarea :-ms-input-placeholder,
.editCard .form form input :-ms-input-placeholder,
.editCard .form form textarea :-ms-input-placeholder {
  color: #78787880;
}

.addCard .form form input ::-ms-input-placeholder,
.addCard .form form textarea ::-ms-input-placeholder,
.editCard .form form input ::-ms-input-placeholder,
.editCard .form form textarea ::-ms-input-placeholder {
  color: #78787880;
}

.addCard .form form input ::placeholder,
.addCard .form form textarea ::placeholder,
.editCard .form form input ::placeholder,
.editCard .form form textarea ::placeholder {
  color: #78787880;
}

.addCard .form form textarea,
.editCard .form form textarea {
  line-height: 3ex;
  padding: 10px;
}

.addCard .form form .checkbox,
.editCard .form form .checkbox {
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.addCard .form button,
.editCard .form button {
  margin-top: 15px;
  background-color: rgba(208, 224, 253, 0.602);
  border-radius: 10px;
  padding: 10px;
  stroke: none;
  border: rgba(255, 255, 255, 0.137) 1px solid;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.addCard .form .validationError,
.editCard .form .validationError {
  color: red;
  text-align: right;
  font-size: 14px;
}

.MyCards .emptyMyCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Favorite .errorFavorite {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.Favorite .errorFavorite svg {
  font-size: 2em;
}

.Favorite .errorFavorite .loginBtn {
  padding: 0 10px;
  display: block;
  font-size: .9em;
  background-color: var(--level2);
  border-radius: 5px;
  border: none;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .Favorite,
  .addCard,
  .editCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Favorite .display,
  .addCard .display,
  .editCard .display {
    width: 100%;
  }
  .Favorite .form,
  .addCard .form,
  .editCard .form {
    width: 100%;
  }
  .Cards .cardsList {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
  }
  .CardPage .frmae {
    min-height: 30vh;
  }
  .CardPage .content {
    padding: 20px 7%;
  }
}
/*# sourceMappingURL=Card.css.map */