.Card {
  background-size: cover;
  border-radius: 15px;
  min-width: 250px;
  width: 250px;
  min-height: 400px;
  -webkit-box-shadow: 0 0 30px -20px black;
          box-shadow: 0 0 30px -20px black;
  background-color: #fff;
  background-position: center;
}

.Card .cardFrame {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#000));
  background-image: linear-gradient(#ffffff00, #000);
  border-radius: 15px;
  padding: 25px;
  -webkit-backdrop-filter: brightness(0.9);
          backdrop-filter: brightness(0.9);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  overflow: scroll;
}

.Card .cardFrame a {
  text-decoration: none;
  font-size: 1em;
}

.Card .cardFrame a :hover {
  text-decoration: underline;
}

.Card .cardFrame p {
  font-size: .8em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.Card .actions {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.Card h2 {
  color: white;
  line-height: 1em;
}

.Card p {
  color: #fff;
}

.Card .heart {
  color: #fff;
  font-size: 20px;
}

.Cards .cardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  gap: 15px;
  padding: 20px;
}

.Cards a {
  text-decoration: none;
}

.Cards .addCardBtn {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.Cards .addCardBtn:hover {
  background-color: #00d78f;
  cursor: pointer;
}

.addCard,
.editCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100%;
}

.addCard .display,
.editCard .display {
  background-image: radial-gradient(#7c7c7c4d 1.8px, #ffffff00 1.8px);
  background-size: 36px 36px;
  height: inherit;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  border-right: solid 1px #999999;
}

.addCard .form,
.editCard .form {
  width: 70%;
}

.addCard .form h2,
.editCard .form h2 {
  display: block;
}

.addCard .form form,
.editCard .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.addCard .form form label,
.editCard .form form label {
  font-size: 14px;
  padding: 0 5px;
  margin-top: 10px;
}

.addCard .form form input,
.addCard .form form textarea,
.editCard .form form input,
.editCard .form form textarea {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 1px solid gray;
  border-radius: 6px;
  position: relative;
  line-height: 5ex;
  padding: 0 10px;
  width: 100%;
  resize: none;
}

.addCard .form form input ::-webkit-input-placeholder,
.addCard .form form textarea ::-webkit-input-placeholder,
.editCard .form form input ::-webkit-input-placeholder,
.editCard .form form textarea ::-webkit-input-placeholder {
  color: #78787880;
}

.addCard .form form input :-ms-input-placeholder,
.addCard .form form textarea :-ms-input-placeholder,
.editCard .form form input :-ms-input-placeholder,
.editCard .form form textarea :-ms-input-placeholder {
  color: #78787880;
}

.addCard .form form input ::-ms-input-placeholder,
.addCard .form form textarea ::-ms-input-placeholder,
.editCard .form form input ::-ms-input-placeholder,
.editCard .form form textarea ::-ms-input-placeholder {
  color: #78787880;
}

.addCard .form form input ::placeholder,
.addCard .form form textarea ::placeholder,
.editCard .form form input ::placeholder,
.editCard .form form textarea ::placeholder {
  color: #78787880;
}

.addCard .form form textarea,
.editCard .form form textarea {
  line-height: 3ex;
  padding: 10px;
}

.addCard .form form .checkbox,
.editCard .form form .checkbox {
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.addCard .form button,
.editCard .form button {
  margin-top: 15px;
  background-color: rgba(208, 224, 253, 0.602);
  border-radius: 10px;
  padding: 10px;
  stroke: none;
  border: rgba(255, 255, 255, 0.137) 1px solid;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.addCard .form .validationError,
.editCard .form .validationError {
  color: red;
  text-align: right;
  font-size: 14px;
}

.CardPage .frmae {
  width: 100%;
  min-height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.CardPage .frmae .textHeader {
  background-color: rgba(118, 118, 118, 0.433);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 30px;
  max-width: 70%;
  text-align: center;
  border-radius: 10px;
}

.CardPage .frmae .textHeader b hr {
  margin: 20px 0 20px 0;
}

.CardPage .frmae .textHeader h1 {
  line-height: 1em;
}

.CardPage .content {
  padding: 20px 20%;
}

.CardPage .content .contentHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #78787815;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 35px;
  border-radius: 5px;
}

.CardPage .content .contentHeader a {
  text-decoration: none;
}

.CardPage .content .contentHeader button {
  padding: 2px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.CardPage .content .contentHeader button:hover {
  background-color: #00d78f;
  cursor: pointer;
}

.CardPage .content .contentHeader .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CardPage .content .contentBody p {
  white-space: break-spaces;
}

@media (max-width: 900px) {
  .addCard,
  .editCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .addCard .display,
  .editCard .display {
    width: 100%;
  }
  .addCard .form,
  .editCard .form {
    width: 100%;
  }
}
/*# sourceMappingURL=Card.css.map */