.Card {
    background-size: cover;
    border-radius: 15px;
    min-width: 250px;
    width: 250px;
    min-height: 400px;
    box-shadow: 0 0 30px -20px black;
    background-color: #fff;
    background-position: center;

    .cardFrame {
        background-image: linear-gradient(#ffffff00, #000);
        border-radius: 15px;
        padding: 25px;
        backdrop-filter: brightness(.9);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        overflow: scroll;

        .options {
            height: 30px;
            width: 30px;
            background-color: #cdcdcd62;
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
        }

        a {
            text-decoration: none;
            font-size: 1em;

            :hover {
                text-decoration: underline;
            }
        }

        p {
            font-size: .8em;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    .actions {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }


    h2 {
        color: rgb(255, 255, 255);
        line-height: 1em;
    }

    p {
        color: #fff;
    }

    .heart {
        color: #fff;
        font-size: 20px;
    }

}

.Cards {
    .cardsList {
        display: flex;
        overflow: scroll;
        gap: 15px;
        padding: 20px;
    }

    .addCardBtn {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        stroke: none;
        border: none;
        font-size: 50px;
        background-color: green;
        color: white;
        line-height: 0;
    }
}



.addCard,
.editCard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;

    .display {
        background-image: radial-gradient(#7c7c7c4d 1.8px, #ffffff00 1.8px);
        background-size: 36px 36px;
        height: inherit;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 40px;
        border-right: solid 1px #999999;
    }


    .form {
        width: 70%;

        h2 {
            display: block;
        }

        form {
            display: flex;
            flex-direction: column;
            padding: 30px;

            label {
                font-size: 14px;
                padding: 0 5px;
                margin-top: 10px;
            }

            input,
            textarea {
                align-self: flex-end;
                border: 1px solid gray;
                border-radius: 6px;
                position: relative;
                line-height: 5ex;
                padding: 0 10px;
                width: 100%;
                resize: none;

                ::placeholder {
                    color: #78787880;
                }

            }

            textarea {
                line-height: 3ex;
                padding: 10px;
            }

            .checkbox {
                transform: scale(150%);
            }
        }

        button {
            margin-top: 15px;
            background-color: rgba(208, 224, 253, 0.602);
            border-radius: 10px;
            padding: 10px;
            stroke: none;
            border: rgba(255, 255, 255, 0.137) 1px solid;
            outline: none;
            width: 100%;
            cursor: pointer;
        }

        .validationError {
            color: red;
            text-align: right;
            font-size: 14px;
        }

    }
}


.CardPage {

    .frmae {
        width: 100%;
        min-height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        .textHeader {
            background-color: rgba(118, 118, 118, 0.433);
            backdrop-filter: blur(10px);
            padding: 30px;
            max-width: 80%;
            text-align: center;

            hr {
                margin: 20px 0 20px 0;
            }

            h1 {
                line-height: 1em;
            }


        }
    }

    .content {
        padding: 20px 20%;

        p {
            white-space: break-spaces;
        }
    }
}




@media (max-width: 900px) {

    .addCard,
    .editCard {
        // display: flex;
        flex-direction: column;

        .display {
            width: 100%;
        }

        .form {
            width: 100%;
        }
    }

}