.About {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px 150px 40px;
}

.About section>h2 {
    display: inline-block;
    background-color: var(--level2);
    color: black;
    padding: 0 10px;
    line-height: 30px;
    border-radius: 5px;
    box-shadow: 0 0 25px -10px var(--level2);
    margin-bottom: 10px;
}

.About p,
li {
    text-align: justify;
    font-size: clamp(14px, 2vw, 20px);
}

.About ul {
    list-style: inside circle;
}

.About ul li {
    margin-bottom: 5px;
}