// @import "./style/theme-colors";

.App {
    // box-sizing: border-box;
    padding-top: 90px;

    .frame {
        // margin-top: 80px;
        opacity: 1;
        width: 100%;
        min-height: 100vh;
        height: 100%;
    }


}