.App {
    box-sizing: border-box;
    padding-top: 50px;

    .frame {
        // margin-top: 80px;
        opacity: 1;
        width: 100%;
        min-height: 100vh;
        height: 100%;
    }
}

.ErrorPage {
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-size: 12em;
    }

    line-height: 100px;
}