@font-face {
  font-family: max;
  src: url("../public/fonts/MAX-Regular.woff");
  font-weight: normal;
}

@font-face {
  font-family: max;
  src: url("../public/fonts/MAX-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: max;
  src: url("../public/fonts/MAX-Bold.woff");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'max', 'assistant', 'Roboto', sans-serif;
  direction: rtl;
}


/* GLOBAL FONTS */
h1 {
  font-size: 60px;
  text-align: center;
}